<div class="row bottomrow">
    <div class="col-sm-3 nospace">
        <div class="container bottomLeft nospace">
            <div class="nospace jumbotron" id="news">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="jumbotron">
            <div class="row weatherrow">
                <div class="weathermain rounded col-sm-4">
                    <p id="weathercity">
                        <strong>Tinton Falls</strong>
                    </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <img id="weatherimg" src="{{myWeather.data.properties.periods[0].icon}}">
                                </img>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">
                                        <h2 class="nospace" id="tempf">
                                            {{myWeather.data.properties.periods[0].temperature}}F
                                        </h2>
                                    </div>
                                </div>

                                <p class="nospace">
                                    Wind:
                                    <strong>
                                        {{myWeathe.data.properties.periods[0].windDirection}}{{myWeather.data.properties.periods[0].windSpeed}}
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <strong>
                                <h6 class="shortfcst weatherobs ">
                                    {{myWeather.data.properties.periods[0].shortForecast}}
                                </h6>
                            </strong>
                        </div>
                </div>
                <div class="weatherday2 rounded col-sm-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="nospace">
                                <li>
                                    <h5>
                                        {{myWeather.data.properties.periods[2].name}}
                                    </h5>
                                </li>
                                <li>
                                    <img src="{{myWeather.data.properties.periods[2].icon}}" />
                                </li>
                                <li>
                                    Temp: <strong>{{myWeather.data.properties.periods[2].temperature}} F</strong>
                                </li>
                                <li class="weatherobs">
                                        <p class=" nospace ">
                                                <strong>{{myWeather.data.properties.periods[2].shortForecast}}</strong>
                                        </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                                <ul class="nospace">
                                        <li>
                                            <h5>
                                                {{myWeather.data.properties.periods[4].name}}
                                            </h5>
                                        </li>
                                        <li>
                                            <img src="{{myWeather.data.properties.periods[4].icon}}" />
                                        </li>
                                        <li>
                                            Temp: <strong>{{myWeather.data.properties.periods[4].temperature}} F</strong>
                                        </li>
                                        <li class="weatherobs">
                                                <p class=" nospace ">
                                                        <strong>{{myWeather.data.properties.periods[4].shortForecast}}</strong>
                                                </p>
                                        </li>
                                    </ul>
                        </div>
                        <div class="col-sm-4">
                                <ul class="nospace">
                                        <li>
                                            <h5>
                                                {{myWeather.data.properties.periods[6].name}}
                                            </h5>
                                        </li>
                                        <li>
                                            <img src="{{myWeather.data.properties.periods[6].icon}}" />
                                        </li>
                                        <li>
                                            Temp: <strong>{{myWeather.data.properties.periods[6].temperature}} F</strong>
                                        </li>
                                        <li class="weatherobs">
                                                <p class=" nospace ">
                                                        <strong>{{myWeather.data.properties.periods[6].shortForecast}}</strong>
                                                </p>
                                        </li>
                                    </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 ">
        <div class="container nospace">
            <ul class="nospace">
                <li>
                    <h1 class="bottomright nospace">
                        {{myMod.data.message.head}}
                    </h1>
                </li>
                <li>
                    <h3 class="bottomright nospace">
                        {{myMod.data.message.body1}}
                    </h3>
                </li>
                <li>
                    <h3 class="bottomright nospace">
                        {{myMod.data.message.body2}}
                    </h3>
                </li>
                <li>
                    <h3 class="bottomright nospace">
                        {{myMod.data.message.body3}}
                    </h3>
                </li>
            </ul>
        </div>
    </div>
</div>