font-family: "DIN Next Regular", sans-serif;
font-family: "DIN Next Medium", sans-serif;
font-family: "DIN Next Light", sans-serif;

/* basic elements */

table { border:0px; border-collapse:collapse ; width:100%} 

td {vertical-align:top; padding:0px; }

td, table, select,  input, textarea{
	font-family: "DIN Next Regular", sans-serif;
	font-size:20px;
	vertical-align:top;
	line-height:24px;
	color: null
	}
html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% DIN Next Medium, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url(papyrus.jpg) no-repeat bottom right; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h1{
	Text Color: NULL
	Background: #FFFFFF
	Font: DIN NEXT Light
	Size: 64px
	Line Height: 1
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
acronym {
	border-bottom: none;
	}

/*	BootStrap */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Buttons 

Button style
Rounded Rectangle: 3 pt stroke / 3 px corner radius
Colour : #00A0D3 (Bright Blue Digita)
Font: DIN NEXT LIGHT 16 pt #00A0D3
Hover : Reverse color

Button on Deep Blue background
Rounded Rectangle: 3 pt stroke / 3 px corner radius
Colour : #00A0D3
Font : DIN NEXT LIGHT 16 pt #00A0D3
Hover : DIN NEXT LIGHT 16 pt #FFFFFF / Rounded rectangle: 3 pt Stroke/ 3 px corner radius / colour : #00A0D3

Button on Bright Blue background
Rounded Rectangle: 3 pt stroke / 3 px corner radius
Colour: #FFFFFF 
Font: DIN NEXT LIGHT 16 pt #FFFFFF
Hover: Reverse color
*/
button{
	Rounded Rectangle: 3 pt stroke / 3 px corner radius
	Colour : #00A0D3
	Font : DIN NEXT LIGHT 16 pt #00A0D3
	Hover : DIN NEXT LIGHT 16 pt #FFFFFF / Rounded rectangle: 3 pt Stroke/ 3 px corner radius / colour : #00A0D3
	}
