font-family: "DIN Next Regular", sans-serif;
font-family: "DIN Next Medium", sans-serif;
font-family: "DIN Next Light", sans-serif;

/* basic elements */

html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% DIN Next Regular, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: url() #fff no-repeat bottom right; 
	margin: 0; 
	padding: 0;
  overflow:visible;
  }
html,body,div.feedItem {
  height:100%;
  }
div.container-fluid {height:calc(100% - 100px);
  }
blockquote {margin:0px;
  }

p { 
	margin-top: 0; 
	text-align: justify;
	}
h1{
	Text Color: NULL
	Background: #FFFFFF
	Font: DIN NEXT Medium
	Size: 64px
	Line Height: 1
	}
h2{
	Text Color: NULL
	Background: #FFFFFF
	Font: DIN NEXT Medium
	Size: 48px
	Line Height: 1
  }

.navheader{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 2em;
  color: #2f4e66;"
  }

.clock {
font-size: 3em;  
height: 30px;
width: 80%;
line-height: 30px;  
margin-top: 2rem;
padding: 0 15px;
background: #222;
color: #eee;
text-align: center;
border-radius: 15px;
box-shadow: 0 0 7px #222;
text-shadow: 0 0 3px #fff;
  }

  