<!-- Navbar -->
<div class="">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="nav-header">
               <!--  <img alt="cvlogo" id="cvlogo" src="images/favicon.png"/> -->
                <a class="navbar-brand header" href="index.html">
                    MC4 Support Feed
                </a>
            </div>
            <div class="container" id="timeDisplay">
                <div class="clock navbar-nav navbar-right flex-row-reverse">
                    {{theDay}} {{theTime}}
                </div>
            </div>
        </div>
    </nav>
</div>
